---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import articleImage2 from '../images/article2-top.jpg';
import articleImage2_1 from '../images/article2-sub1.jpg';
import articleImage2_2 from '../images/article2-sub2.jpg';
import articleImage7 from '../images/article7-top.jpg';
import articleImage8 from '../images/article8-top.jpg';
import articleImage9 from '../images/article9-top.jpg';
import articleImage10 from '../images/article10-top.jpg';
import articleImage11 from '../images/article11-top.jpg';
import twitterLogo from '../images/bxl-twitter.svg';
import instagramLogo from '../images/bxl-instagram-alt.svg';
import linkedinLogo from '../images/bxl-linkedin-square.svg';
import linkLogo from '../images/bx-link-alt.svg';
import andreaWise from '../images/author-andrea-wise.jpg';
import karenSmith from '../images/author-karen-smith.jpg';
import samanthaWilliam from '../images/author-samantha-william.jpg';
import renataHope from '../images/author-renata-hope.jpg';
import angelaSaunder from '../images/author-angela-saunder.jpg';
---
<Layout title="記事 - DAYDAYTRAVEL">
	<div class="empty-block"></div> <!-- レイアウト調整用ブロック -->
	<div class="container">
		<div class="main-content">
			<section class="author-profile">
				<div class="profile-left">
					<div class="author-karen-smith" style={`background-image: url(${karenSmith.src})`} />
					<div>
						<p class="author-name">Karen Smith</p>
						<p class="date">19 Feb 2022</p>
					</div>
				</div>
				<div class="profile-right">
					<ul>
						<li><a href="#"><Image src={twitterLogo} alt="twitter logo" /></a></li>
						<li><a href="#"><Image src={instagramLogo} alt="instagram logo" /></a></li>
						<li><a href="#"><Image src={linkedinLogo} alt="linkedin logo" /></a></li>
						<li><a href="#"><Image src={linkLogo} alt="link logo" /></a></li>
					</ul>
				</div>
			</section>

			<article>
				<div class="tag">Culinary</div>
				<h1>記事タイトル記事タイトル記事タイトル</h1>
				<p>Even there are a lot of potential tourism in Semarang. 
					Therefore Semarang need more promotional for old potential Tourism.</p>
				<div class="article-image main-image">
					<Image src={articleImage2} alt="cafe food" />
					<center>Food portrait this afternoon</center>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur. 
					Nascetur hendrerit mauris in elit viverra consectetur. 
					Enim placerat consectetur leo at pulvinar iaculis sit. 
					Quam nec amet. lofaucibus nunc. Est nec feugiat congue viverra. Enim u</p>
				<p>Lorem ipsum dolor sit amet consectetur. 
					Urna ipsum praesent at nunc habitasse porttitor consequat risus adipiscing. 
					Ut enim ultricies non lectus. 
					Fringilla duis purus cursus dui sed neque ridiculus. 
					Faucibus et ante faucibus nunc. Est nec feugiat congue viverra. 
					Enim ut lacus malesuada est purus tellus ac condimentum. 
					Dignissim lacinia malesuada nisl condimentum lectus euismod.</p>
				<h3>Your gene pool depth chart</h3>
				<p>Sit amet consectetur. 
					Urna ipsum praesent at nunc habitasse porttitor consequat risus adipiscing. 
					Ut enim ultricies non lectus. 
					Fringilla duis purus cursus dui sed neque ridiculus. 
					Faucibus et ante faucibus nunc. Est nec feugiat congue. 
					Enim ut lacus malesuada est purus tellus ac condimentum. 
					Dignissim lacinia malesuada nisl condimentum lectus euismod.</p>
				<p>Dolor sit amet consectetur. Nascetur hendrerit mauris in elit viverra consectetur. 
					Enim placerat consectetur leo at pulvinar iaculis sit. Quam nec amet mauris sit. 
					Adipiscing orci integer bibendum vitae sit. Porttitor.</p>
				<div class="article-image two-pictures">
					<Image src={articleImage2_1} alt="jars" />
					<Image src={articleImage2_2} alt="a bicycle" />
				</div>
				<p>Amet consectetur. 
					Urna ipsum praesent at nunc habitasse porttitor consequat risus adipiscing. 
					Ut enim ultricies non lectus. 
					Fringilla duis purus cursus dui sed neque ridiculus. 
					Faucibus et ante faucibus nunc. Est nec feugiat congue viverra. 
					Enim ut lacus malesuada est purus tellus ac condimentum. 
					Dignissim lacinia malesuada nisl condimentum lectus euismod.</p>
				<p>Urna ipsum praesent at nunc habitasse porttitor consequat risus adipiscing. 
					Ut enim ultricies non lectus. 
					Fringilla duis purus cursus dui sed neque ridiculus. 
					lel Faucibus et ante faucibus nunc. Est nec feugiat congue. </p>
				<ul>
					<li><a class="tag-box" href="#">Culinary</a></li>
				</ul>
			</article>

			<section class="article-list-related">
				<div class="heading">
					<h2>関連記事（同一タグ）</h2>
				</div>
				<div class="articles">
					<div class="article">
						<a href="#">
							<Image src={articleImage7} alt="food and drinks" />
							<div><span class="tag">Culinary</span> <span class="date">02 May 2022</span></div>
							<h3>記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル</h3>
							<p>本文の一部を表示本文の一部を表示本文の..</p>
						</a>
					</div>
					<div class="article">
						<a href="#">
							<Image src={articleImage8} alt="food" />
							<div><span class="tag">Culinary</span> <span class="date">02 May 2022</span></div>
							<h3>Cah kangkung ala wonosobo restaurant</h3>
							<p>Order your favorite food menu from Asia..</p>
						</a>
					</div>
				</div>
			</section>
		</div>

		<aside>
			<section class="article-list-new">
				<div class="heading">
					<h2>新着記事</h2>
				</div>
				<div class="articles">
					<div class="article">
						<a href="#">
							<Image src={articleImage9} alt="woman cooking" />
							<div><span class="tag">Culinary</span> <span class="date">13 Jun 2022</span></div>
							<h3>記事タイトル記事タイトル記事タイトル記事タイトル</h3>
						</a>
					</div>
					<div class="article">
						<a href="#">
							<Image src={articleImage10} alt="kids" />
							<div><span class="tag">Travel</span> <span class="date">22 Jul 2022</span></div>
							<h3>Enjoying the sunset on Padar island together</h3>
						</a>
					</div>
					<div class="article">
						<a href="#">
							<Image src={articleImage11} alt="couple" />
							<div><span class="tag">Travel</span> <span class="date">22 Jul 2022</span></div>
							<h3>The lush green surroundings of the campgrounds create a..</h3>
						</a>
					</div>
				</div>
			</section>

			<section class="author-list">
				<div class="heading">
					<h2>投稿者</h2>
				</div>
				<div class="authors">
					<div class="author">
						<div class="author-andrea-wise" style={`background-image: url(${andreaWise.src})`} />
						<p>Andrea Wise</p>
					</div>
					<div class="author">
						<div class="author-karen-smith" style={`background-image: url(${karenSmith.src})`} />
						<p>Karen Smith</p>
					</div>
					<div class="author">
						<div class="author-samantha-william" style={`background-image: url(${samanthaWilliam.src})`} />
						<p>Samantha William</p>
					</div>
					<div class="author">
						<div class="author-renata-hope" style={`background-image: url(${renataHope.src})`} />
						<p>Renata Hope</p>
					</div>
					<div class="author">
						<div class="author-angela-saunder" style={`background-image: url(${angelaSaunder.src})`} />
						<p>Angela Saunder</p>
					</div>
				</div>
			</section>
		</aside>
	</div>
</Layout>

<style>
	.author-profile {
		height: 70px;
		margin-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.profile-left {
		width: auto;
		height: 70px;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.profile-left p {
		margin: 10px 0;
	}

	ul {
		display: flex;
		gap: 10px;
	}

	article h1 {
		font-size: 2rem;
		margin-bottom: 48px;
	}

	article > p {
		color: #757575;
		font-size: 1.2rem;
		margin-bottom: 40px;
	}

	/* 著者のアイコン */
	.author {
		display: flex;
		column-gap: 20px;
		margin: 20px 0;
	}

	.author-karen-smith {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-position: 70% 20%;
		background-size: 170%;
	}

	.author-andrea-wise {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-position: 50% 30%;
		background-size: 300%;
	}

	.author-samantha-william {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-position: 48% 15%;
		background-size: 280%;
	}

	.author-renata-hope {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-position: 57% 18%;
		background-size: 500%;
	}

	.author-angela-saunder {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-position: 42% 24%;
		background-size: 200%;
	}

	.two-pictures {
		display: flex;
		gap: 20px;
		align-items: flex-start;
	}

	.two-pictures img {
		width: 50%;
		max-height: 400px;
		object-fit: cover;
	}

	.article-image {
		margin-bottom: 50px;
	}

	@media screen and (max-width: 768px) {
		.author-profile {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}

		.profile-right img {
			width: 37px;
		}
	}
</style>